.masthead-heading,
.masthead-intro,
.mast-footer{
  text-align: center;
}

.masthead {
  padding: 6em 0;
  background-image: url('mountain.jpg');
  background-size: cover;
  background-repeat: round;
  border-top: solid 10px #7E8AA2;
}

.masthead-intro {
  margin-bottom: 0.1em;
  font-size: 50px;
  font-weight: bold;
  color: #FDEDE2;
  text-shadow: 1px 1px #7E8AA2;
}

.masthead-heading {
  margin-top: -0.2em;
  font-size: 90px;
  font-family: poiret-one, sans-serif;
  color: #FAEDE2;
  text-shadow: 3px 3px #7E8AA2;
}

.mastsec-intro,
.mastsec-from,
.mastsec-about{
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  
}

.mastheadicon {
  width: 150px;
  left: 25px;
  top: 10px;
  position: absolute; 
  list-style-type: none;
}

.mastheadicon ul {
  margin: 0;
  padding: 0;
}

.mastheadicon li {
  display: inline;
}

.mastheadicon img {
  height: 25px;
  width: 25px;
}

section h1{
 font-family: poiret-one, sans-serif;
 color: #91AA9D;
}
section h2{
  font-size: 17px;
  font-family: poiret-one, sans-serif;
  font-weight: bold;
  color:#193441;
}

section p{
  font-family: source-sans-pro, sans-serif;
  color: #3E606F;
  letter-spacing: 0.05em;
  margin: 2em 0 1em 0;
}
.social > li {
    display: inline-block;
}

footer{
  background-color:#3E606F;
  padding: 6em 0;
  font-size: 17px;
  font-family: source-sans-pro, sans-serif;
  color:#FDEDE2;
  background-size: cover;
  background-repeat: round;
  letter-spacing: 0.05em;
 
}

a{
  padding: 5px;
  color:#D1DBBD;
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
   .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
    footer{
      font-size: 10px;
      padding: 1em 1em 1em 1em ;
    }
}